# Configuration de la base de données PostgreSQL (Développement)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=261005
DB_NAME=jaffle_shop_db

# Configuration BigQuery (Production)
# Décommenter et configurer pour la configuration BigQuery
# GCP_PROJECT_ID=your-gcp-project-id
# GCP_DATASET=jaffle_shop_analytics
# GCP_KEYFILE=/path/to/service-account-key.json

# Paramètres de l'application
APP_TITLE=Gestionnaire Jaffle Shop
APP_THEME=light
CACHE_TTL=300
